<div class="container">
  <h1>Admin Dashboard</h1>
  <h2>Resources</h2>
    <ul>
      <li><p><%= link_to "Projects", projects_path %></p></li>
      <li><p><%= link_to "Team Members", team_members_path(anchor: 'team_members') %></p></li>
      <li><p><%=  %></p></li>
    </ul>
  <h2>Downloads</h2>
  <h2>Account Settings</h2>
</div>