<div class="container">
  <div class="content">
    <h1> VOLUNTEER </h1>
    <h2> Join Rooms That Rock 4 Chemo! </h2>
    <div class="border"></div>
    <p> Nancy G. Brinker, an activist against Breast Cancer, once said: “Somebody needs to make this place a little more up beat. It’s unbearably boring and sad, and that’s the last thing we need right now.” Suzy frowned at the framed dollar store art. “There should be classical music and something beautiful and stimulating on the walls. Something to remind us how wonderful the world is outside of all of this… It’s bad enough that we have to come here. Maybe if it were a little more inviting, it would make people feel positive and hopeful. When I get better, I’m going to make some changes around here. We’ll do it together.” We are currently looking for people with Administrative, Grant Writing, Fund Raising, Interior Design, and Technical skills to help us make more and make better rooms that rock! </p>
    <a id="volunteer" href="contact"> GET INVOLVED </a>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> NEEDED HELP </h1>
    <h2 class="white"> We are currently looking for: </h2>
    <div class="white_border"></div>
    <p class="white"> Adobe Catalyst Support <br>
    Project Manager Coordinator <br>
    Administrative Assistant <br>
    Grant Writers <br>
    Fund Raiser <br>
    Sponsors </p>
  </div>
</div>