<div id="navbar_container">
  <div id="navbar">
    <a id="logo" href="../"></a>
    <a class="tab" href="contact"> CONTACT </a>
    <a class="tab" href=""> CONTRIBUTE </a>
    <a class="tab" href="news"> NEWS </a>
    <a class="tab" href="store"> STORE </a>
    <a class="tab" href="projects"> PROJECTS </a>
    <a class="tab" href="about"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> DONATE </h1>
    <a class="donations tooltip" title="By Mail" id="mail" href="contribute/location"></a>
    <a class="donations tooltip" title="By Computer" id="electronic" href="donations/new"></a>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> VOLUNTEER </h1>
    <h2 class="white"> Join Rooms That Rock 4 Chemo! </h2>
    <div class="white_border"></div>
    <p class="white"> Nancy G. Brinker, an activist against Breast Cancer, once said: “Somebody needs to make this place a little more up beat. It’s unbearably boring and sad, and that’s the last thing we need right now.” Suzy frowned at the framed dollar store art. “There should be classical music and something beautiful and stimulating on the walls. Something to remind us how wonderful the world is outside of all of this… It’s bad enough that we have to come here. Maybe if it were a little more inviting, it would make people feel positive and hopeful. When I get better, I’m going to make some changes around here. We’ll do it together.” We are currently looking for people with Administrative, Grant Writing, Fund Raising, Interior Design, and Technical skills to help us make more and make better rooms that rock! </p>
    <a class="extra_margin" id="volunteer"> GET INVOLVED </a>
  </div>
</div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <a class="media tooltip" title="Facebook" id="facebook" href="https://www.facebook.com/pages/Rooms-That-Rock-4-Chemo/112153845548333"></a>
    <a class="media tooltip" title="LinkedIn" id="linkedin" href="http://www.linkedin.com/profile/view?id=43149579&amp;trk=tab_pro"></a>
    <a class="media tooltip" title="Twitter" id="twitter" href="https://twitter.com/RoomsThatRock"></a>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>