<div class="container black_container">
  <div class="content">
    <h1 class="white"> MAIL CHECKS TO: </h1>
    <h2 class="white"> Address </h2>
    <div class="white_border"></div>
    <p class="white"> RoomsThatRock4Chemo <br>
    1032 Irving Street, #223 <br>
    San Francisco, CA 94122 </p>
    <h2 class="white"> Federal Tax ID46-2777062 </h2>
    <div class="white_border"></div>
    <p class="white"> RoomsThatRock4Chemo is  a 501 (c)(3) nonprofit organization; and is a member of Local Independent Charities of America </p>
    <h2 class="white"> Additional Information </h2>
    <div class="white_border"></div>
    <p class="white"> RTR4C is a volunteer organization operating through contributions, in-kind donations, and proceeds from fund-raising events. They do not receive state or federal funding and are solely dependent on contributions from the community, individuals and corporations. RTR4C has no religious or political agendas or affiliations.
    </p>
  </div>
</div>