<div class="container">
  <div class="content">
    <h1> VOLUNTEER </h1>
    <h2> Join Rooms That Rock 4 Chemo! </h2>
    <div class="border"></div>
    <p> Nancy G. Brinker, an activist against Breast Cancer, once said: “Somebody needs to make this place a little more up beat. It’s unbearably boring and sad, and that’s the last thing we need right now.” Suzy frowned at the framed dollar store art. “There should be classical music and something beautiful and stimulating on the walls. Something to remind us how wonderful the world is outside of all of this… It’s bad enough that we have to come here. Maybe if it were a little more inviting, it would make people feel positive and hopeful. When I get better, I’m going to make some changes around here. We’ll do it together.” We are currently looking for people with Administrative, Grant Writing, Fund Raising, Interior Design, and Technical skills to help us make more and make better rooms that rock! </p>
    <a id="volunteer" href="contact"> GET INVOLVED </a>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> AMBASSADOR PROGRAM </h1>
    <h2 class="white"> Apply to be a Young Ambassador! </h2>
    <div class="white_border"></div>
    <p class="white"> Our Young Ambassadors are a group of young proffessionals that apply their skills to offer Adobe Catalyst Support for our website, Project Manager Coordinator for our projects, act as Administrative Assistants, and more. In applicants for a Young Ambassador, we look for a person passionate and driven about our cause who has the skills neccesary to make change and difference in the hospitals, centers, and locations that they visit. The Young Ambassador Board is a selective and impactful group of youth, and if you would like to be apart of it please apply below! </p>
    <a id="ambassador" href="https://docs.google.com/forms/d/1vnc3alOmkFDUemPeUxObUkaur9GLVNt0v9eCmDqgA5A/viewform"> APPLY NOW </a>
  </div>
</div>