<div class="container">
  <div class="content">
    <h1> New Press Updates </h1>
    <div class="admin_buttons">
      <a href=<%= news_index_path %>>Back</a>
    </div>
    <%= render 'form' %>
  </div>
</div>