<div id="banner">
  <h1 id="banner_title"> ROOMS THAT <br> ROCK 4 CHEMO </h1>
  <div id="banner_blurb"> Celebrating life through rooms that rock! </div>
</div>
<div class="container">
  <div class="content">
    <h1 id="what"> WHAT WE DO </h1>
    <div class="third">
      <img src="<%= image_path "step1.svg"%>" width="333" height="125"/>
      <h2> STEP ONE </h2>
      <div class="border"></div>
      <p> We look for patient rooms in need of a redesign, and understand the patient's needs and concerns so as to best serve them. </p>
    </div>
    <div class="third">
      <img src="<%= image_path "step2.svg"%>" width="333" height="125"/>
      <h2> STEP TWO </h2>
      <div class="border"></div>
      <p> We reach out to interior designers for their professional aid, and match them with volunteers with passion and care. </p>
    </div>
    <div class="third">
      <img src="<%= image_path "step3.svg"%>" width="333" height="125"/>
      <h2> STEP THREE </h2>
      <div class="border"></div>
      <p> Designers and volunteers come together to transform bland spaces into bright, warm, and colorful environments. </p>
    </div>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> FEATURED UPDATES </h1>
    <a class="update tooltip" title="Oakland Hospital upcoming on 6/18!" id="news1" href="news"></a>
    <a class="update tooltip" title="Mammoth project finished!" id="project1" href="projects/1"></a>
  </div>
</div>