<div id="navbar">
	<a id="logo" href="#"></a>
	<a class="tab" href="#"> ABOUT </a>
	<a class="tab" href="#"> PROJECTS </a>
	<a class="tab" href="#"> STORE </a>
	<a class="tab" href="#"> NEWS </a>
	<a class="tab" href="#"> CONTRIBUTE </a>
	<a class="tab" href="#"> CONTACT </a>
</div>
<div id="banner">
	<p id="mission"> Celebrating life through <br> rooms that rock </p>
	<a class="button" id="banner_button" href="#"> LEARN MORE </a>
</div>
<div class="container">
	<div class="content">
		<div id="process_title"> HERE'S WHAT WE DO </div>
		<div class="step">
			<div id="step1"></div>
			<p class="step_title"> Step 1 </p> 
			We look for chemotherapy patients with rooms in need of a re-design and understand the patient's needs. 
		</div>
		<div class="step">
			<div id="step2"></div>
			<p class="step_title"> Step 2 </p> 
			We reach out to talented and passionate interior designers so that they can lead impactful and proffessional projects. 
		</div>
		<div class="step">
			<div id="step3"></div>
			<p class="step_title"> Step 3 </p> 
			Designers and volunteers come together to transform bland spaces into vibrant, warm, and colorful environments. 
		</div>
		<a class="button" id="process_button" href="#"> GET INVOLVED </a>
	</div>
</div>
<div class="container" id="footer">
	<div class="content">
		<p id="footer_title"> FOLLOW US AT </p>
		<div id="footer_buttons">
			<a id="twitter" href="#"></a>
			<a id="facebook" href="#"></a>
			<a id="linkedin" href="#"></a>
		</div>
		<p id="copyright"> Copyright 2013, RTR4C. All rights reserved. </p>
	</div>
</div>