<div id="navbar">
	<a class="tab" href="#"> Home </a>
	<a class="tab" href="#"> About </a>
	<a class="tab" href="#"> Projects </a>
	<a class="tab" href="#"> Store </a>
	<a class="tab" href="#"> News </a>
	<a class="tab" href="#"> Contribute </a>
	<a class="tab" href="#"> Contact </a>
</div>
<div id="banner">
	<div id="box_row1">
	<div class="box" id="box1"></div>
	<div class="box" id="box2"></div>
	<div class="box" id="box3"></div>
	<div class="box" id="box4"></div>
	</div>
	<div id="box_row2">
	<div class="box" id="box5"></div>
	<div class="box" id="box6"></div>
	<div class="box" id="box7"></div>
	<div class="box" id="box8"></div>
	</div>
	<div id="box_row3">
	<div class="box" id="box9"></div>
	<div class="box" id="box10"></div>
	<div class="box" id="box11"></div>
	<div class="box" id="box12"></div>
	</div>
</div>
<div id="banner_content">
	<div id="logo"></div>
	<p id="banner_blurb">Rooms That Rock 4 Chemo works with interior designers and hospitals to create vibrant, bright, and uplifting environments for chemotherapy patients, changing their lives.</p>
	<a class="button" id="banner_button" href="#"> Learn More </a>
</div>