<div class="container black_container" id="general_update">
  <a class="white" id="hide" href="#" onclick="document.getElementById('general_update').style.display = 'none';"> x </a>
  <div class="content">
    <br><br>
    <h2 class="white"> SAVE THE DATE </h2>
    <p class="white"> Don't miss our Inaugural Gala on November 1st, 2014! </p>
    <a id="update_link" href="#" onclick="window.open(' https://www.facebook.com/events/655230987880891/');"> Find Out More </a>
  </div>
</div>
<div id="banner">
  <h1 id="banner_title"> ROOMS THAT <br> ROCK 4 CHEMO </h1>
  <div id="banner_blurb"> Transforming chemotherapy treatment rooms <br/> into beautiful, healing environments. </div>
</div>
<div class="container">
  <div class="content">
    <h1 id="what"> WHAT WE DO </h1>
    <div class="third">
      <img src="<%= image_path "step1.svg"%>" width="333" height="125"/>
      <h2> STEP ONE </h2>
      <div class="border"></div>
      <p> We look for patient rooms in need of a redesign, and understand the patient's needs and concerns so as to best serve them. </p>
    </div>
    <div class="third">
      <img src="<%= image_path "step2.svg"%>" width="333" height="125"/>
      <h2> STEP TWO </h2>
      <div class="border"></div>
      <p> We reach out to interior designers for their professional aid, and match them with volunteers with passion and care. </p>
    </div>
    <div class="third">
      <img src="<%= image_path "step3.svg"%>" width="333" height="125"/>
      <h2> STEP THREE </h2>
      <div class="border"></div>
      <p> Designers and volunteers come together to transform bland spaces into bright, warm, and colorful environments. </p>
    </div>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> FEATURED PROJECTS </h1>
    <a class="update tooltip" title="Oakland Children's Hospital" id="news1" href="projects/10"></a>
    <a class="update tooltip" title="Mammoth Hospital" id="project1" href="projects/1"></a>
  </div>
</div>