<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> CONTRIBUTE </a>
    <a class="tab" href="#"> NEWS </a>
    <a class="tab" href="#"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="picture"></div>
    <div class="profile">
      <h3> Founder/Director</h3>
      <h2> Nancy Linebarger Ballard </h2>
      <p> A botanical watercolor artist and published author of several books including her new romance novel, Invited Guests. She is committed and excited to be involved with RoomsThatRock4Chemo. Much of the gratitude goes to the designers and volunteers who give so much. “It is overwhelming to be a part of the grace and generosity of our volunteers." </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> President </h3>
      <h2> Paul Chin </h2>
      <p> Born in 1949 and educated in San Francisco, Military service with 347th General Hospital M.A.S.H 1968.Paul joined the San Francisco Fire Department in 1974. He retired in 2006 as the San Francisco Fire Marshall. His volunteer work includes: international children’s program (CISV), taking and working with children from at least 10 different countries in a one-month summer camp-like program promoting ethnic and cultural awareness in Romania, Sweden, New Zealand and United States just to name a few in the last 10 years. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> Vice President </h3>
      <h2> Dr. Kevin Knopf </h2>
      <p> Dr. Knopf is a Hematologist/Oncologist who has practiced in San Francisco since 2006 - out of California Pacific Medical Center and St Lukes, where he is Director of Hematology/Oncology. He also has a smaller practice in Internal Medicine. Dr Knopf runs the Quality Oncology Initiative at California Pacific Medical Center and is also involved in Cancer Genetics and the teaching of Interns and Residents. </p>
    </div>
    <div class="picture">
    </div>
    <div class="profile">
      <h3> Secretary </h3>
      <h2> Mario Ballard </h2>
      <p> As a firefighter and manager with the San Francisco Fire Department for 33 years, where, during the last 17 years of my career, I managed a creative group of men and women responsible for seeing that most everything built in the City met the hundreds of local and national codes and standards. As a result of this work, after my retirement I opened Mario Ballard and Associates, a building and fire code consulting firm. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> Treasurer </h3>
      <h2> Michael Shaw </h2>
      <p> Michael Shaw is a CPA and partner at Mill Valley tax practice, Shaw + Shaw, LLP. He's also a seasoned musician with a passion for both guitar and piano. Michael enjoys working with all his non-profit clients, but he's especially honored to join the board of Rooms that Rock as cancer has recently touched his family and he is profoundly committed to the cause. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> Attorney </h3>
      <h2> Andrea Tytell </h2>
      <p> Andrea Tytell has been a practicing attorney since 1993. She is well respected by judicial officers, colleagues and clients alike. Ms. Tytell brings a great deal of passion to her work while handling each case with dignity, common sense and significant legal acumen. Ms. Tytell's addition to the Advisory Board of RTR4C allows us to handle all legal matters in house thus insuring the largest percentage of donations are spent upon the stated spirit and purpose of our organization. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> Ambassador </h3>
      <h2> Shoshana Ungerleider </h2>
      <p> Shoshana Ungerleider, MD is originally from Eugene, Oregon. She has lived in the Bay area for the last four years and completed her residency training in San Francisco at California Pacific Medical Center. She currently works as a hospital-based internal medicine physician and is Chair of the RoomThatRock4Chemo Ambassador Board for young professionals. </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>