<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> CONTRIBUTE </a>
    <a class="tab" href="#"> NEWS </a>
    <a class="tab" href="#"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
  <h1> CONTACT </h1>
    <div class="labels">
      <h2 class="label"> First Name </h2>
      <br>
      <h2 class="label"> Last Name </h2>
      <br>
      <h2 class="label"> Email </h2>
      <br>
      <h2 class="label"> Phone </h2>
      <br>
      <h2 class="label"> Message </h2>
      <br>
    </div>
    <form id="inputs">
      <input type="text" name="first"/>
      <input type="text" name="last"/>
      <input type="text" name="email"/>
      <input type="text" name="phone"/>
      <textarea class="extra_margin" rows="10"> </textarea>
    </form>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> INFORMATION </h1>
    <h2 class="white"> Address </h2>
    <div class="white_border"></div>
    <p class="white"> RoomsThatRock4Chemo <br>
    1032 Irving Street, #223 <br>
    San Francisco, CA 94122 </p>
    <h2 class="white"> Phone </h2>
    <div class="white_border"></div>
    <p class="white extra_margin"> 415-518-1716 </p>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>