<div class="container">
  <div class="content">
    <h1> DONATE </h1>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> INFORMATION </h1>
    <div class="white_border"></div>
    <p class="white"> Federal Tax ID46-2777062 RTR4C is a 501 (c)(3) nonprofit organization, and a member of Local Independent Charities of America. <br> RTR4C is a volunteer organization operating through contributions, in-kind donations, and proceeds from fund-raising events. They do not receive state or federal funding and are solely dependent on contributions from the community, individuals and corporations. RTR4C has no religious or political agendas or affiliations. </p>
  </div>
</div>