<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> CONTRIBUTE </a>
    <a class="tab" href="#"> NEWS </a>
    <a class="tab" href="#"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>


<div class="container">
  <div class="ind_project_content">
  	<h1>Manhattan Hospital</h1>
  	<div class="before_after">
  		<div id="before">Before</div>
  		<div id="after">After</div>
  	</div>
  	<div class="header_pict">
  		<div class="main_before_pict"></div>
  		<div class="divider"></div>
  		<div class="main_after_pict"></div>
  		<div class="before_picts">
  			<div id="b_1"></div>
  			<div id="b_2"></div>
  			<div id="b_3"></div>
  			<div id="b_4"></div>
  		</div>
  		<div class="after_picts">
 			<div id="a_1"></div>
  			<div id="a_2"></div>
  			<div id="a_3"></div>
  			<div id="a_4"></div>
  		</div>
  </div>
</div>


<div class = "container black_container">
	<div class="content">
		<div class="ind_project_about">
			<h2>About This Project</h2>
			<div class="ind_project_line"></div>
			<p>Lots of content</p>
		</div>
		<div class="ind_project_volunteers">
			<h2>Volunteers That Made This Happen</h2>
			<div class ="ind_project_line"></div>
			<p>More content about volunteers</p>
		</div>
	</div>
</div>



<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id = "copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>