<div class="container">
  <div class="ind_project_content">
  	<div id="ind_project_main_title"><h1>Manhattan Hospital</h1>
  	<div class="before_after">
  		<div id="before">Before</div>
  		<div id="after">After</div>
  	</div>
  	<div class="header_pict">
  		<div class="main_before_pict"></div>
  		<div class="divider"></div>
  		<div class="main_after_pict"></div>
  		<div class="before_picts">
  			<div id="b_1"></div>
  			<div id="b_2"></div>
  			<div id="b_3"></div>
  			<div id="b_4"></div>
  		</div>
  		<div class="after_picts">
 			<div id="a_1"></div>
  			<div id="a_2"></div>
  			<div id="a_3"></div>
  			<div id="a_4"></div>
  		</div>
  </div>
</div>


<div class = "container black_container">
	<div class="content">
		<div class="ind_project_about">
			<div id = "ind_about_title">
				<p id="ind_about">About This Project</p>
			</div>
			<div id="ind_project_line_about"></div>
			<div>
				<p id="ind_about_text">We transformed an entire wing of the Maternity Hospital in San Salvador including donated new flooring, windows, air conditioning, nurses station and kitchen, bathrooms and tile, new chemo chairs, stenciling, art work and furniture. This project consisted of 11 rooms / 27 chairs / 8 beds translating into 54,600 patient visits per year. This hospital is for women only and they are now able to be in a clean, peaceful environment, knowing that in any language, complete strangers care about the condition they are in even if they don't know them. We were joined by Basic Health International based out of New York who contributed to the project with helpful hands and donations.</p>
			</div>
		</div>
		<div class="ind_project_volunteers">
			<div id = "volunteer_title">
				<p id ="volunteers_about">Volunteers That Made This Happen</p>
			</div>
			<div id="ind_project_line_volunteer"></div>
			<div>
				<p id="ind_volunteer_text">We transformed an entire wing of the Maternity Hospital in San Salvador including donated new flooring, windows, air conditioning, nurses station and kitchen, bathrooms and tile, new chemo chairs, stenciling, art work and furniture. This project consisted of 11 rooms / 27 chairs / 8 beds translating into 54,600 patient visits per year. This hospital is for women only and they are now able to be in a clean, peaceful environment, knowing that in any language, complete strangers care about the condition they are in even if they don't know them. We were joined by Basic Health International based out of New York who contributed to the project with helpful hands and donations.</p>
			</div>
		</div>
	</div>
</div>



<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id = "copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>