<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> CONTRIBUTE </a>
    <a class="tab" href="#"> NEWS </a>
    <a class="tab" href="#"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> BLOG </h1>
    <div class="blogpost">
      <div class="post_picture" id="picture_one"></div>
      <div class="post extra_margin">
        <h2> Society for the Arts in Healthcare </h2>
        <h4> MARCH 28TH </h4>
        <p> RoomsThatRock4Chemo collaborates with volunteer interior designers, local vendors, sponsors and the community to transform the physical spaces where chemotherapy is provided. As the hospital environment changes from sterile and drab to healing, lovely and soothing, the positive impact on the lives of patients becomes monumental. </p>
      </div>
      <div class="border extra_margin"></div>
    </div>
    <div class="blogpost">
      <div class="post_picture" id="picture_two"></div>
      <div class="post extra_margin">
        <h2> Doge is for REAL!!! </h2>
        <h4> FEBRUARY 10TH </h4>
        <p> RoomsThatRock4Chemo collaborates with volunteer interior designers, local vendors, sponsors and the community to transform the physical spaces where chemotherapy is provided. As the hospital environment changes from sterile and drab to healing, lovely and soothing, the positive impact on the lives of patients becomes monumental. RoomsThatRock4Chemo collaborates with volunteer interior designers, local vendors, sponsors and the community to transform the physical spaces where chemotherapy is provided. As the hospital environment changes from sterile and drab to healing, lovely and soothing, the positive impact on the lives of patients becomes monumental. <br>
        RoomsThatRock4Chemo collaborates with volunteer interior designers, local vendors, sponsors and the community to transform the physical spaces where chemotherapy is provided. As the hospital environment changes from sterile and drab to healing, lovely and soothing, the positive impact on the lives of patients becomes monumental. </p>
      </div>
      <div class="border extra_margin"></div>
    </div>
    <div class="blogpost">
      <div class="post_picture" id="picture_three"></div>
      <div class="post extra_margin">
        <h2> SF General Hospital Project #12 </h2>
        <h4> OCTOBER 16th </h4>
        <p> At RoomsThatRock4Chemo we are coming up on our 12th project! <br>
        San Francisco General Hospital, located in San Francisco, CA,  has a large chemotherapy unit and we will be transforming all the infusion rooms (5), the nurses station, nurses break room, the largest waiting room I’ve ever seen and the long halls along the way. We only have a weekend to complete our project and even then, there will be patients to work around - they never close. <br>
        This is where the kindness of strangers and supporters alike come in and make a difference. <br>
        Cutting Edge Stencils has donated to every project (which I think is all 12 to date….) along with stencil brushes, levels so we can get our designs straight, and tons of appreciation for what we do. <br>
        Art.Com, headquartered in Emeryville, has also been an outstanding donor with wall art for our projects, knowing for sure, as they say, “Art sparks healing”, and it does! Once again, each room will have amazing hand picked art for patients to drift into while waiting and/or receiving care. This will be their third project with us. </p>
      </div>
      <div class="border extra_margin"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>