<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> CONTRIBUTE </a>
    <a class="tab" href="#"> NEWS </a>
    <a class="tab" href="#"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>


<div class="container">
  <div class="content">
    <div class="wtf" id="fuckyou"></div>
    <div class="banner"></div>
  </div>
</div>



<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>