<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="../contact"> CONTACT </a>
    <a class="tab" href="../contribute"> CONTRIBUTE </a>
    <a class="tab" href="../news"> NEWS </a>
    <a class="tab" href="../store"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="about"> ABOUT </a>
  </div>
</div>
<div class="banner">
</div>
<div class="container">
  <div class="content">
    <h3 id="about_title"> ABOUT </h3>
    <p class="extra_margin" id="about">
      We work with interior designers and hospitals/clinics that provide chemotherapy, Our custom-designed rooms host over 713 ,000 patient visits per year in ten facilities and 99 rooms in the USA and San Salvador in El Salvador
      <br><br>
      We began with a simple philanthropic gesture, Nancy Linebarger Ballard offered to donate her botanical paintings to the dreary chemotherapy rooms in Dr. Hufford’s San Francisco medical office. Dr. Hufford was overjoyed with the artistic gifts of generosity, yet she saw a much bigger future for the project.
      <br><br>
      In an effort to revamp the chemotherapy rooms in their entirety, Nancy reached out to twenty local interior designers for their professional aid. Within three days, six designers had reacted enthusiastically, volunteering their time and creative efforts for the first RTR4C Project. Since then, talented teams of room revamping designers have been transforming bland spaces into vibrant, warm and colorful environments that evoke positive vibes into the dreary circumstances often experienced in these treatment rooms. These rooms have been completed and are highlighted on our website.
    </p>
    <div class="border"></div>
    <div class="picture"></div>
    <div class="profile">
      <h3> FOUNDER/DIRECTOR </h3>
      <h2> Nancy Linebarger Ballard </h2>
      <div class="border"></div>
      <p> A botanical watercolor artist and published author of several books including her new romance novel, Invited Guests. She is committed and excited to be involved with RoomsThatRock4Chemo. Much of the gratitude goes to the designers and volunteers who give so much. “It is overwhelming to be a part of the grace and generosity of our volunteers." </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> PRESIDENT </h3>
      <h2> Paul Chin </h2>
      <div class="border"></div>
      <p> Born in 1949 and educated in San Francisco, Military service with 347th General Hospital M.A.S.H 1968.Paul joined the San Francisco Fire Department in 1974. He retired in 2006 as the San Francisco Fire Marshall. His volunteer work includes: international children’s program (CISV), taking and working with children from at least 10 different countries in a one-month summer camp-like program promoting ethnic and cultural awareness in Romania, Sweden, New Zealand and United States just to name a few in the last 10 years. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> VICE PRESIDENT </h3>
      <h2> Dr. Kevin Knopf </h2>
      <div class="border"></div>
      <p> Dr. Knopf is a Hematologist/Oncologist who has practiced in San Francisco since 2006 - out of California Pacific Medical Center and St Lukes, where he is Director of Hematology/Oncology. He also has a smaller practice in Internal Medicine. Dr Knopf runs the Quality Oncology Initiative at California Pacific Medical Center and is also involved in Cancer Genetics and the teaching of Interns and Residents. </p>
    </div>
    <div class="picture">
    </div>
    <div class="profile">
      <h3> SECRETARY </h3>
      <h2> Mario Ballard </h2>
      <div class="border"></div>
      <p> As a firefighter and manager with the San Francisco Fire Department for 33 years, where, during the last 17 years of my career, I managed a creative group of men and women responsible for seeing that most everything built in the City met the hundreds of local and national codes and standards. As a result of this work, after my retirement I opened Mario Ballard and Associates, a building and fire code consulting firm. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> TREASURER </h3>
      <h2> Michael Shaw </h2>
      <div class="border"></div>
      <p> Michael Shaw is a CPA and partner at Mill Valley tax practice, Shaw + Shaw, LLP. He's also a seasoned musician with a passion for both guitar and piano. Michael enjoys working with all his non-profit clients, but he's especially honored to join the board of Rooms that Rock as cancer has recently touched his family and he is profoundly committed to the cause. </p>
    </div>
    <div class="picture"></div>
    <div class="profile">
      <h3> ATTORNEY </h3>
      <h2> Andrea Tytell </h2>
      <div class="border"></div>
      <p> Andrea Tytell has been a practicing attorney since 1993. She is well respected by judicial officers, colleagues and clients alike. Ms. Tytell brings a great deal of passion to her work while handling each case with dignity, common sense and significant legal acumen. Ms. Tytell's addition to the Advisory Board of RTR4C allows us to handle all legal matters in house thus insuring the largest percentage of donations are spent upon the stated spirit and purpose of our organization. </p>
    </div>
    <div class="picture extra_margin"></div>
    <div class="profile">
      <h3> AMBASSADOR </h3>
      <h2> Shoshana Ungerleider </h2>
      <div class="border"></div>
      <p> Shoshana Ungerleider, MD is originally from Eugene, Oregon. She has lived in the Bay area for the last four years and completed her residency training in San Francisco at California Pacific Medical Center. She currently works as a hospital-based internal medicine physician and is Chair of the RoomThatRock4Chemo Ambassador Board for young professionals. </p>
    </div>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> ADVISORY BOARD </h1>
    <div class="advisory_picture"></div>
    <div class="advisory_picture"></div>
    <div class="advisory_picture"></div>
    <div class="advisory_picture extra_margin"></div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> OUR SPONSORS </h1>
    <div class="about_media" id="homedepot"></div>
    <div class="about_media" id="chase"></div>
    <div class="about_media extra_margin" id="giants"></div>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> DESIGNERS & VOLUNTEERS </h1>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture"></div>
    <div class="mini_picture extra_margin"></div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>