<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="contact"> CONTACT </a>
    <a class="tab" href="../donations"> CONTRIBUTE </a>
    <a class="tab" href="../news"> NEWS </a>
    <a class="tab" href="../products"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="about"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
  <h1> CONTACT </h1>
    <form id="inputs">
      <div class="field">
        <label> First Name </label>
        <input type="text" name="first"/>
      </div>
      <div class="field">
        <label> Last Name </label>
        <input type="text" name="last"/>
      </div>  
      <div class="field">
        <label> Email </label>
        <input type="text" name="email"/>
      </div>
      <div class="field">
        <label> Phone </label>
        <input type="text" name="phone"/>
      </div>
      <div class="field">
        <label> Message </label>
        <textarea class="extra_margin" rows="10"> </textarea>
      </div>
    </form>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> INFORMATION </h1>
    <h2 class="white"> Address </h2>
    <div class="white_border"></div>
    <p class="white"> RoomsThatRock4Chemo <br>
    1032 Irving Street, #223 <br>
    San Francisco, CA 94122 </p>
    <h2 class="white"> Phone </h2>
    <div class="white_border"></div>
    <p class="white extra_margin"> 415-518-1716 </p>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>