// Place all the styles related to the contribute controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.donations {
  float: left;
  margin: 50px;
  width: 380px;
  height: 380px;
  border-radius: 200px;
  border: 10px solid #333333;
}

.donations:hover {
  cursor: pointer;
  border: 10px solid #b77ed2;
}

#mail {
  background: url(image_path "mail.jpg");
  background-size: cover;
}

#electronic {
  background: url(image_path "electronic.svg");
  background-color: #ffffff;
  background-size: cover;
}

#volunteer {
  display: block;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 410px;
  padding: 20px 10px 30px 20px;
  height: 24px;
  width: 140px;
  border-radius: 15px;
  font-size: 24px;
  font-family: Oswald, sans-serif;
  color: #333333;
  border: 3px solid #333333;
}

#volunteer:hover {
  cursor: pointer;
  border: 3px solid #b77ed2;
  color: #b77ed2;
}

#ambassador {
  display: block;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 410px;
  padding: 20px 10px 30px 20px;
  height: 24px;
  width: 120px;
  border-radius: 15px;
  font-size: 24px;
  font-family: Oswald, sans-serif;
  color: #ffffff;
  border: 3px solid #ffffff;
}

#ambassador:hover {
  cursor: pointer;
  border: 3px solid #b77ed2;
  color: #b77ed2;
}
